<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.jivesoftware.openfire.plugin.RouteOfflineMessagesToFCM</class>
   <name>Offline Msg to FCM</name>
   <description>An example plugin that does nothing interesting</description>
   <author>Surevine</author>
   <version>1.0.1</version>
   <date>2017-12-15</date>
   <minServerVersion>4.4.1</minServerVersion>
   <!--
   <adminconsole>
      <tab id="tab-server">
         <sidebar id="sidebar-server-settings">
            <item id="example-plugin-page" name="Example Plugin Properties" url="exampleplugin-page.jsp" description="Settings for Example Plugin" />
         </sidebar>
      </tab>
   </adminconsole>
   -->
</plugin>